.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 4.5rem 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)
}

.admin-nav-link,
.admin-nav-link svg {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #233658;
}

.admin-nav-link:hover,
.admin-nav-link:active,
.admin-nav-link:focus,
.admin-nav-link:hover svg,
.admin-nav-link:active svg,
.admin-nav-link:focus svg,
.admin-nav-link.active,
.admin-nav-link.active svg {
    color: #b03c3c;
}