.restaurant-bg h1 {
    text-shadow: 2px 3px 2px #111
}

.restaurant-bg a,
.restaurant-bg p,
.restaurant-bg span {
    text-shadow: 2px 2px 2px #222;
}

.star-rating span,
.star-rating span svg {
    cursor: pointer;
}